{% extends 'partials/base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Password Reset Complete</h4>
            <hr>
            <div class="alert alert-info">
                <h5>Password Reset Complete! <a href="{% url 'user-login' %}">Click Here</a> for login.</h5>
            </div>
        </div>
    </div>
</div>


{% endblock %}