{% extends 'partials/base.html' %}
{% block title %}Password Reset{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <span class="h4">Password Reset</span>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <input class="btn btn-success btn-sm btn-block" type="submit" value="Reset Password">
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% comment %} btn-lg btn-block {% endcomment %}