{% extends 'partials/base.html' %}
{% block title %}Password Reset Done{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Password Reset Done</h4>
            <hr>
            <div class="alert alert-info">
                <h5>
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. <a href="https://mail.google.com/mail/u/0/#inbox">Check Inbox</a>
                    <br>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder. <a href="https://mail.google.com/mail/u/0/#spam">Check Spam</a>
                </h5>
            </div>
        </div>
    </div>
</div>


{% endblock %}